.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: rgb(0, 67, 183);
}

.nav-right {
    display: flex;
    gap: 20px;
}

.google {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-links a {
    color: white;
}

.page-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-footer hr {
    width: 100%;
    margin: 0 0 10px 0;
}

.pfp {
    height: 30px;
    width: 30px;
    padding: 2px;
    border-radius: 50%;
    border: 3px solid white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

.search-bar {
    flex: 1;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    font-size: large;
    background-color: gray;
    padding: 15px 60px;
    border-radius: 30px;
    border: 2px solid black;
}

.search-btn {
    font-size: large;
    background-color: gray;
    padding: 15px 60px;
    border-radius: 30px;
    border: 2px solid black;
}

.search-btn:hover {
    background-color: blue;
    color: white
}


.top-search {
    margin-top: 40px;
    margin-bottom: 20px;
}

.main-hr {
    width: 90%;
    margin: 0 auto 40px auto;
    border: 1px solid #222;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin: 0 5vw;
}

.info-sections {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 2;
}

.info-card {
    background: #ddd;
    padding: 20px 30px;
    border-radius: 10px;
}

.info-card h2 {
    color: #2366e8;
    margin-bottom: 10px;
}

.info-card p {
    color: #000000;
    margin: 0;
}

.profile-card {
    background: #4b003b;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    max-width: 320px;
}

.profile-img {
    width: 90%;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 5px solid #fff;
    object-fit: cover;
}

.profile-desc {
    color: #fff;
    text-align: left;
}

.search-display {
    font-size: 2rem;
    flex: 1;
    gap: 30px;
    display: flex;
    justify-content: center;
    background-color: gray;
    border-radius: 30px;
    border: 2px solid black;
    width: 80%;
    margin: 0 auto;
}

